In [1]:
# Include this line to make plots interactive
%matplotlib notebook

In [2]:
#Importing libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [4]:
# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

In [5]:
#Reading Mouse Drug Data File
mouse_drug_data = pd.read_csv(mouse_drug_data_to_load)
mouse_drug_data

    Mouse ID      Drug
0       f234  Stelasyn
1       x402  Stelasyn
2       a492  Stelasyn
3       w540  Stelasyn
4       v764  Stelasyn
..       ...       ...
245     i669   Placebo
246     r850   Placebo
247     a262   Placebo
248     q787   Placebo
249     j235   Placebo

[250 rows x 2 columns]

In [6]:
#Reading data from the Cinical Trial sheet
clinical_trial = pd.read_csv(clinical_trial_data_to_load)
clinical_trial

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [7]:
#Merging the two data files into one dataset
mouse_clinical_data = pd.merge(clinical_trial, mouse_drug_data, how="left", on=['Mouse ID','Mouse ID'])

#Displaying the table for preview
mouse_clinical_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

# Tumor Response to Treatment

In [8]:
#Calculating the Mean Tumor VOlume  grouped by Drug and Timepoint
meanTumor = mouse_clinical_data.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)'].mean()

#Converting the series into a dataframe
tumorVolMean = pd.DataFrame(meanTumor).reset_index()

#Displaying the dataframe
tumorVolMean

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [9]:
#Calculating the Standard Error of Tumor Volumes grouped by Drug and TImepoint
standardTumor = mouse_clinical_data.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)'].sem()

#Storing the data into a dataframe
standardErrTumor = pd.DataFrame(standardTumor).reset_index()

#Displaying the dataframe
standardErrTumor.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731

In [10]:
#Re-Formatting the Mean Volume dataframe
#Got this attrivute from "https://hackernoon.com/reshaping-data-in-python-fa27dda2ff77"
formatted_tumorMean = tumorVolMean.pivot(index='Timepoint', columns='Drug', values='Tumor Volume (mm3)')

#Displaying the formatted dataframe
formatted_tumorMean

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334
25,39.939528,54.287674,55.715252,57.678982,56.731968,57.482574,55.504138,38.974300,56.166123,55.432935
30,38.769339,56.769517,58.299397,60.994507,59.559509,59.809063,58.196374,38.703137,59.826738,57.713531
35,37.816839,58.827548,60.742461,63.371686,62.685087,62.420615,60.350199,37.451996,62.440699,60.089372
40,36.958001,61.467895,63.162824,66.068580,65.600754,65.052675,63.045537,36.574081,65.356386,62.916692
45,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888

In [11]:
#Re-Formatting the Standard Error Volume dataframe
formatted_standarderr = standardErrTumor.pivot(index='Timepoint', columns='Drug', values='Tumor Volume (mm3)')

#Displaying the dataframe
formatted_standarderr

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.448593,0.164505,0.235102,0.264819,0.202385,0.218091,0.231708,0.482955,0.239862,0.188950
10,0.702684,0.236144,0.282346,0.357421,0.319415,0.402064,0.376195,0.720225,0.433678,0.263949
15,0.838617,0.332053,0.357705,0.580268,0.444378,0.614461,0.466109,0.770432,0.493261,0.370544
20,0.909731,0.359482,0.476210,0.726484,0.595260,0.839609,0.555181,0.786199,0.621889,0.533182
25,0.881642,0.439356,0.550315,0.755413,0.813706,1.034872,0.577401,0.746991,0.741922,0.602513
30,0.934460,0.490620,0.631061,0.934121,0.975496,1.218231,0.746045,0.864906,0.899548,0.800043
35,1.052241,0.692248,0.984155,1.127867,1.013769,1.287481,1.084929,0.967433,1.003186,0.881426
40,1.223608,0.708505,1.055220,1.158449,1.118567,1.370634,1.564779,1.128445,1.410435,0.998515
45,1.223977,0.902358,1.144427,1.453186,1.416363,1.351726,1.888586,1.226805,1.576556,1.003576

In [12]:
#Creating the PLot(with Error bars)
# fig = plt.figure(figsize=(5,5))
# x = formatted_tumorMean.index
# y = formatted_tumorMean.values
# yerr = formatted_standarderr.values
# labelsTreatment = formatted_tumorMean.columns.tolist()

In [13]:
# plt.plot(x,y, label=labelsTreatment)
# plt.show()

In [14]:
# plt.xlim(0,50)
# plt.ylim(30,80)

In [15]:
# plt.legend(loc='best')

#  Metastatic Response to Treatment

In [16]:
#Calculating Mean Met Site Data grouped bu Drug and Timepoint
meanMetSite = mouse_clinical_data.groupby(['Drug', 'Timepoint'])['Metastatic Sites'].mean()

#storing Data in a dataframe
meanMetSiteData = pd.DataFrame(meanMetSite)

#Displaying Data
meanMetSiteData.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [17]:
#Calculating Mean Met Site Data grouped bu Drug and Timepoint
standardErrMetSite = mouse_clinical_data.groupby(['Drug', 'Timepoint'])['Metastatic Sites'].sem()

#storing Data in a dataframe
standardErrMetSiteData = pd.DataFrame(standardErrMetSite)

#Displaying Data
standardErrMetSiteData.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621

In [21]:
#Re-Formatting the Mean Volume dataframe
meanMetSiteData = meanMetSiteData.reset_index()
formattedMeanMet = meanMetSiteData.pivot(index='Timepoint', columns='Drug', values='Metastatic Sites')

#Displaying Data
formattedMeanMet.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.160000,0.380952,0.280000,0.304348,0.260870,0.375000,0.320000,0.120000,0.240000,0.166667
10,0.320000,0.600000,0.666667,0.590909,0.523810,0.833333,0.565217,0.250000,0.478261,0.500000
15,0.375000,0.789474,0.904762,0.842105,0.857143,1.250000,0.764706,0.333333,0.782609,0.809524
20,0.652174,1.111111,1.050000,1.210526,1.150000,1.526316,1.000000,0.347826,0.952381,1.294118

In [22]:
#Re-Formatting the Standard Error Volume dataframe
standardErrMetSiteData = standardErrMetSiteData.reset_index()
formattedErrMet = standardErrMetSiteData.pivot(index='Timepoint', columns='Drug', values='Metastatic Sites')

#Displaying Data
formattedErrMet.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.074833,0.108588,0.091652,0.098100,0.093618,0.100947,0.095219,0.066332,0.087178,0.077709
10,0.125433,0.152177,0.159364,0.142018,0.163577,0.115261,0.105690,0.090289,0.123672,0.109109
15,0.132048,0.180625,0.194015,0.191381,0.158651,0.190221,0.136377,0.115261,0.153439,0.111677
20,0.161621,0.241034,0.234801,0.236680,0.181731,0.234064,0.171499,0.119430,0.200905,0.166378

In [ ]:
#Generating the plot

#  Survival Rates

In [25]:
#Calculating Count of Mice Grouped by Drug and Timepoint
mouse = mouse_clinical_data.groupby(['Drug', 'Timepoint'])['Mouse ID'].count()

#Converting to Dataframe
mouseCount = pd.DataFrame(mouse)

#Renaming the mouse count column
mouseCount.rename(columns = {'Mouse ID' : 'Mouse Count'}, inplace=True)

#Displaying Data
mouseCount.head()

                     Mouse Count
Drug      Timepoint
Capomulin 0                   25
          5                   25
          10                  25
          15                  24
          20                  23

In [26]:
#Re-formatting the dataframe
mouseCount = mouseCount.reset_index()
formattedMouseCount = mouseCount.pivot(index='Timepoint', columns='Drug', values='Mouse Count')

#Displaying Data
formattedMouseCount

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17
25,22,18,18,19,18,17,14,23,19,16
30,22,16,17,18,15,15,13,23,18,15
35,22,14,12,17,15,14,10,21,16,14
40,21,14,10,15,15,12,9,20,12,14
45,21,13,9,11,13,11,7,20,11,14

In [ ]:
#Generating Plot

# Summary Bar Graph

In [50]:
#Calculating the percent change for each drug
change = (formatted_tumorMean.iloc[45,9].values - formatted_tumorMean.iloc[:, 0].values)/formatted_tumorMean.iloc[:, 0].values * 100

change

array([ 0.        ,  5.84133828, 13.01075352, 20.7176587 , 30.58726019,
       38.79216378, 48.86384959, 58.89580937, 70.23835298, 82.03080014])