In [1]:
# Include this line to make plots interactive
%matplotlib notebook

In [2]:
#Importing libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [4]:
# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

In [5]:
#Reading Mouse Drug Data File
mouse_drug_data = pd.read_csv(mouse_drug_data_to_load)
mouse_drug_data

    Mouse ID      Drug
0       f234  Stelasyn
1       x402  Stelasyn
2       a492  Stelasyn
3       w540  Stelasyn
4       v764  Stelasyn
..       ...       ...
245     i669   Placebo
246     r850   Placebo
247     a262   Placebo
248     q787   Placebo
249     j235   Placebo

[250 rows x 2 columns]

In [6]:
#Reading data from the Cinical Trial sheet
clinical_trial = pd.read_csv(clinical_trial_data_to_load)
clinical_trial

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [7]:
#Merging the two data files into one dataset
mouse_clinical_data = pd.merge(clinical_trial, mouse_drug_data, how="left", on=['Mouse ID','Mouse ID'])

#Displaying the table for preview
mouse_clinical_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

# Tumor Response to Treatment

In [18]:
#Calculating the Mean Tumor VOlume  grouped by Drug and Timepoint
meanTumor = mouse_clinical_data.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)'].mean()

#Converting the series into a dataframe
tumorVolMean = pd.DataFrame(meanTumor).reset_index()

#Displaying the dataframe
tumorVolMean

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [19]:
#Calculating the Standard Error of Tumor Volumes grouped by Drug and TImepoint
standardTumor = mouse_clinical_data.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)'].sem()

#Storing the data into a dataframe
standardErrTumor = pd.DataFrame(standardTumor).reset_index()

#Displaying the dataframe
standardErrTumor.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731